#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    min-width: 25rem;
    padding: 2rem;
    border-radius: 15%;
}

.fa-brands {
    padding: 1rem 2rem;
}
